
body {
    background-color: #cb2988;
    color: white;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #f48bc5;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}
.passo {
    display: none;
}
.passo.ativo {
    display:block;
}